<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행 할 쿼리 문을 저장하는 파일. 테이블 하나당 한개씩 작성
namespace: 작업하는 테이블들을 구분해주기 위한 식별자 -->
<mapper namespace="com.happyhouse.Favorite.dao.HappyHouseFavoriteDao">

  <select id="getFavorite" parameterType="String" resultType="favorite">
    select * from favoriteinfo where id = #{ID}
  </select>
  
  <select id="findOne" parameterType="String" resultType="favorite">
    select * from favoriteinfo where id = #{id} and no = #{no}
  </select>
  
  <insert id="enrollFavorite" parameterType="favorite">
    insert into favoriteinfo
    (ID, dong, AptName, dealAmount, area, floor, buildYear, dealYear, dealMonth, dealDay, lat, lng)
    values
    (#{ID}, #{dong}, #{AptName}, #{dealAmount}, #{area}, #{floor}, #{buildYear}, #{dealYear}, #{dealMonth}, #{dealDay}, #{lat}, #{lng})
  </insert>
  
  <delete id="deleteFavorite" parameterType="hashMap">
  	delete from favoriteinfo where ID=#{ID} and AptName=#{AptName} and area = #{area}
  </delete>

</mapper>






