<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행 할 쿼리 문을 저장하는 파일. 테이블 하나당 한개씩 작성
namespace: 작업하는 테이블들을 구분해주기 위한 식별자 -->
<mapper namespace="com.happyhouse.Location.dao.HappyHouseLocationDao">

  <select id="cityList" resultType="Location">
    select DISTINCT city from baseaddress
  </select>

  <select id="gugunList" parameterType="Location" resultType="Location">
    select distinct gugun from baseaddress where city = #{city}
  </select>
  
  <select id="dongList" parameterType="Location" resultType="Location">
    select distinct dongcode, dong from baseaddress where city = #{city} and gugun = #{gugun}
  </select>
  

</mapper>






