<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행 할 쿼리 문을 저장하는 파일. 테이블 하나당 한개씩 작성 namespace: 작업하는 테이블들을 
	구분해주기 위한 식별자 -->
<mapper namespace="com.happyhouse.dao.MemberDao">
	<select id="login" parameterType="Member" resultType="Member">
		select * from users
		where id = #{id} and
		pass = #{pass}
	</select>

	<update id="memberUpdate" parameterType="Member">
		update users
		set
		id = #{id}, pass = #{pass}, name = #{name}
		where
		id = #{id}
	</update>

	<select id="memberView" parameterType="String"
		resultType="Member">
		select id, pass, name
		from users
		where
		id = #{id}
	</select>

	<insert id="signup" parameterType="Member">
		insert into users
		(id, pass, name, address, admCd, rnMgtSn, udrtYn, buldMnnm, buldSlno, lng, lat)
		values
		(#{id}, #{pass}, #{name}, #{address}, #{admCd}, #{rnMgtSn}, #{udrtYn}, #{buldMnnm},#{buldSlno} ,#{lng}, #{lat})
	</insert>

	<select id="passwdSearch" parameterType="String"
		resultType="Member">
		select id, pass, name
		from users
		where
		id = #{id} and
		name = #{name}
	</select>
	
	<select id="duplicateCheck" parameterType="String" resultType="String">
		select id
		from users
		where id = #{id}
	</select>
</mapper>






