<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.happyhouse.dao.QnADao">
	
	<!-- 게시글 생성 -->
	<insert id="addQnA" parameterType="com.happyhouse.vo.QnA">
		insert into qna values(null, #{title}, #{content}, #{writer}, now())
	</insert>
	
	<!-- 게시글 조회 -->
	<select id="allListQnA" resultType="com.happyhouse.vo.QnA">
		select * from qna order by no desc
	</select> 
		
	<!-- 특정 게시글 수정 -->
	<update id="modifyOneQnA" parameterType="com.happyhouse.vo.QnA">
		update qna set
			title = #{title},
			content = #{content}
		where no = #{no}
	</update>
	
	<!-- 게시글 검색 -->
	<select id="searchQnA" parameterType="String" resultType="com.happyhouse.vo.QnA">
		select * from qna where title like concat("%",#{title}, "%")
	</select>
	
	<!-- 특정 게시글 조회 -->
	<select id="selectOneQnA" parameterType="String" resultType="com.happyhouse.vo.QnA">
		select * from qna where no = #{no}
	</select>

	
	<!-- 특정 게시글 삭제 -->
	<delete id="deleteOneQnA" parameterType="String">
		delete from qna where no = #{no}
	</delete>
	
	
</mapper>